<!--
Robert Davis
2024.05.08
-->
<!DOCTYPE html>

<html>
    <head>
        <title>{{ id }}</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
        <script
            src="{{ url_for('static', filename='GuessWho/GuessWho.js') }}" defer
        ></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='GuessWho/GuessWho.css') }}">
    </head>
    <body>
        <h1>{{ id }}</h1>

        <div id="errors"></div>

        <div id="login">
            <label for="username">Name:</label>
            <input type="text" name="username" id="username">
            <button id="join">Join</button>
        </div>

        <div id="content" hidden>
            <div id="left">

            </div>

            <div id="right">
                <input type="text" id="message_field">
                <div id="messages"></div>
            </div>
        </div>
    </body>
</html>