<!--
Robert Davis
2024.05.08
-->
<!DOCTYPE html>

<html>
    <head>
        <title>{{ id }}</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
        <script
            src="{{ url_for('static', filename='Clue/Clue.js') }}" defer
        ></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='Clue/Clue.css') }}">
    </head>
    <body>
        <h1>{{ id }}</h1>

        <div id="errors"></div>

        <div id="login">
            <label for="username">Name:</label>
            <input type="text" name="username" id="username">
            <button id="join">Join</button>
        </div>

        <div id="content">
            <div id="character_select" hidden>

            </div>

            <div id="ready">
                <button id="ready_button" disabled hidden>Ready</button>
            </div>

            <div id="game_board" hidden></div>

            <div id="controls" hidden>
                <select id="person_select" disabled></select>
                <select id="weapon_select" disabled></select>
                <select id="room_select" disabled></select>
                <button id="suggestion" disabled>Suggestion</button>
                <button id="accusation" disabled>Accusation</button>
                <button id="end_turn"disabled>End Turn</button>
            </div>

            <div id="cards" hidden></div>

            <div id="chat" hidden>
                <input type="text" id="message_field">
                <div id="messages"></div>
            </div>
        </div>
    </body>
</html>