<!--
Robert Davis
2024.05.05
-->

<!DOCTYPE html>

<html>
    <head>
        <title>Create Game</title>
    </head>
    <body>
        <h1>Create New Game</h1>

        <form action="/start_game" method="post">
            <select name="game_type" id="game_type">
                {% for game_type in game_types %}
                <option value="{{ game_type }}">{{ game_type }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Create Game">
        </form>
    </body>
</html>